.rooms{
  min-height: calc(100vh - 260px);
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
}
.addRoom {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  vertical-align: middle;
  text-align: center;
  background-color: whitesmoke;
}
.addRoom img {
  margin: 50% auto;
}
