#companie {
  min-height: calc(100vh - 260px);
  position: relative;
}
#companie h1 {
  font-size: 43px;
  font-weight: bold;
  display: inline-block;
  margin-left: 160px;
  vertical-align: middle;
} 
#companie h2 {
  font-size: 45px;
  margin: 30px 10px 10px 10px;
}
#companie h3 {
  font-size: 30px;
  padding-bottom: 25px;
  padding-top: 10px;
}
.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.coverImg {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}
.bigProfileImg {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: -105px;
}
.titleAndSome {
  margin: 30px 10px;
}
.adminButton {
  display: inline-block;
  background: rgb(195, 74, 74);
  padding: 10px;
  float: right;
  border-radius: 2px;
  width: 100px;
  margin-left: 10px;
  /* vertical-align: middle; */
  text-align: center;
  color: white;
  text-decoration: none;
}
.companieDetailed {
  width: 50%;
  height: 500px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  overflow: hidden;
}
.descInfo {
  padding-bottom: 30px;
}
.contactInfo a {
  display: block;
  margin-bottom: 25px;
  text-decoration: none;
  color: #484848;
}
.contactInfo img {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.contactInfo p{
  display: inline-block;
}
.mapWrapper{
  width: 50%;
  height: 500px;
  display: inline-block;
  padding: 10px;
}
