.room {
  width: 300px;
  display: inline-block;
  margin: 10px 20px;
  margin-left: 0;
  vertical-align:top;
  position: relative;
}

.room a {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  height: 100%;
}
.roomPoster{
  /*height: 375px;*/
  width: 100%;
  padding-top: 125%;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.features {
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.5));
  text-align: right;
  width: 100%;
  height: 40%;
  color: white;
  position: absolute;
  bottom: 0;
  vertical-align: top;
}
.roomInfo {
  text-align: left;
}
.basicInfo {
  margin-top: 5px;
  display: inline-block;
}
.otherInfo {
  width: 100%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  margin-top: 118px;
  margin-right: 4px;
  position: absolute;
  bottom: 7px;
  right: 1px;
}
.otherInfo > div {
  display: inline-block;
  margin: 0 5px;
  margin-top: 5px;
  text-align: center;
}
.otherInfo img, .otherInfo p {
  display: inline-block;
}
.otherInfo img {
  vertical-align: middle;
  margin: 0 5px;
  margin-bottom: 3px;
}
.room h4 {
  margin-top: 5px;
  font-size: 19px;
}

.resize {
  display: inline-block;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .room{
    width: 44%;
  }
}
@media (max-width: 425px) {
  .room{
    width: 90%;
  }
}