header{
  height: 50px;
  line-height: 50px;
  color: #555;
  background-color: white;
  border-bottom: #ccc 1px solid;
  overflow: hidden;
}

.headerLogo{
  display: inline-block;
}

header h1 {
  font-size: 20px;
  margin: 0 5px;
  display: inline-block;
}

.headerSelected {
  font-weight: bold;
}

.headerLogin {
  position: absolute;
  right: 5px;
  top: 0;
}

.headerLogin button {
  border-radius: 50px;
  border: 0;
  padding: 6px 20px;
  cursor: pointer;
  margin: 0 5px;  
}

/* header form */

#headerForm {
  display: inline-block;
}

/* user control */

#userControl {
  margin-right: 5px;
  position: absolute;
  right: 5px;
  top: 0;
  display: inline-block;
  height: 50px;
}
#userControl img {
  cursor: pointer;
  width: 30px;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px #AAA solid; 
}