#roomDetail {
  min-height: calc(100vh - 260px);
  position: relative;
}
#roomDetail > div {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}
#roomDetail h4 {
  font-size: 27px;
}

/* SELECTOR */
#sectionSelector {
  width: 100%;
  height: 30px;
  background: white;
  z-index: 10
}
.sectionSelectorFixed {
  position: fixed;
  left: calc(50% - 600px);
  top: 0;
}
#sectionSelector ul {
  width: calc(100% - 300px);
}
#sectionSelector li {
  display: inline-block;
  line-height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

/* FIXED BAR */


/* MAIN SECTION */

#mainSection {
  width: calc(100% - 300px);
  display: inline-block;
  vertical-align: top;
}
.mainSectionFixed {
  padding-top: 30px;
}

/* SUMMARY */

#summary {
  position: relative;
  height: 375px;
  width: 100%;
  color: white;
  padding: 110px 10px 10px 20px;
}
#summary h1 {
  padding-bottom: 2px;
  font-size: 35px;
}

.dv-star-rating {
  padding-bottom: 10px;
  z-index: 0;
  font-size: 20px;
}

.address{
  padding-bottom: 10px;
}
.address p {
  cursor: pointer;
  display: inline-block;
}

.summaryInfo {
  margin-bottom: 15px;
}
.summaryInfo > div {
  display: inline-block;
  margin-right: 20px;
  margin-top: 5px;
  text-align: center;
}
.summaryInfo img, .summaryInfo p {
  display: inline-block;
}
.summaryInfo img {
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 3px;
}
#price {
  font-size: 30px;
}


/* DESCRIPTION */
#description {
  width: 100%;
  padding: 20px;
  padding-top: 40px;
}
#description p {
  line-height: 22px;
  padding-top: 10px;
}
#ratings {
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  height: 200px;
/*  background: skyblue;
*/}
#location {
  width: 100%;
  padding: 20px;
  padding-top: 40px;
}
#location > div {
  height: 500px;
}
/* MEDIA QUERIES */

@media (max-width: 1218px) {
  .sectionSelectorFixed {
    left: 0;
  }
}html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input, button, a {
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  color: #484848;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
footer {
  background-color: whitesmoke;
  width: 100%;
  height: 200px;
  padding: 100px;
  text-align: center;
}
.line {
  height: 50px;
  width: 100%;
}
footer a {
  color: #484848;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10%;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #484848;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
header{
  height: 60px;
  line-height: 60px;
  color: #555;
  background-color: whitesmoke;
  border-bottom: #ccc 1px solid;
  /*overflow: hidden;*/
  position:relative;
}

.headerLogo{
  display: inline-block;
}

header h1 {
  font-size: 20px;
  margin: 0 5px;
  display: inline-block;
}

.headerSelected {
  font-weight: bold;
}

.headerLogin {
  position: absolute;
  right: 5px;
  top: 0;
}

.headerLogin a {
  border-radius: 50px;
  border: 0;
  padding: 6px 20px;
  cursor: pointer;
  margin: 0 5px;
  background-color: white;
}

/* header form */

#headerForm {
  display: inline-block;
}

/* user control */

#userControl {
  margin-right: 5px;
  position: absolute;
  right: 5px;
  top: 0;
  display: inline-block;
  height: 50px;
}
#userControl img {
  cursor: pointer;
  width: 30px;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px #AAA solid; 
}
header input {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  margin: 0 10px;
}

header a {
  color: #484848;
  text-decoration: none;
}

@media (max-width: 740px) {
  header {
    height: 120px;
  }
  .homeLink {
    position: absolute;
    right: 215px;
    top: 0;
  }
  .headerLogo{
    vertical-align: top;
  }
  #headerForm {
    position: absolute;
    left: 0;
    top: 52px;
  }
}
@media (max-width: 355px) {
  .autocompleteInput{
    
  }
}.autocompleteRoot {
  display: inline-block;
}

.autocompleteInput {

}

.autocompleteContainer {
  position: absolute;
  z-index: 1;  
}
#people {
  margin-left: 42px !important;
}#createCompany input{
  padding: 10px;
  color: #484848;
  margin: 10px;

}
#createCompany h1 {
  padding-top: 30px;
  font-size: 30px;
}
#createCompany {
  max-width: 500px;
  margin: 0 auto;
}
#createCompany input:not([type='submit']):not([type='file']) {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  color: #484848;
  width: 100%;
  border: 0;
  margin: 10px 0;
  border-bottom: 1px solid #484848;
}

#createCompany > form > div:not([id='uploadImg']){
  width: 45%;
  display: inline-block;
}
#createCompany textarea {
  width: 100%;
  margin: 10px;
  resize: vertical;
  min-height: 100px;
  color: #484848;
  width: 100%;
  border: 0;
  margin: 10px 0;
  border-bottom: 1px solid #484848;
}
.createCompanyRight {
  margin-left: 10%;
}
.autocompleteInput {
  width: 100%;
}
.companieSubmit {
  width: 100%;
  margin: 30px 0 !important;
  display: inline-block;
  padding: 0;
  color: white;
  line-height: 30px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}#uploadImg {
  /*width: 300px;*/
  margin: 0 auto;
  text-align: center;
  display: block !important;
}
#uploadImg input {
  padding: 10px;
}
#image {
  display: inline-block;
  padding: 20px;
  border: none;
}
.posterPreview {
  width: 300px !important;
  height: 375px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
          box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

.profilePreview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
.coverPreview {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: inline-block;
}#companie {
  min-height: calc(100vh - 260px);
  position: relative;
}
#companie h1 {
  font-size: 43px;
  font-weight: bold;
  display: inline-block;
  margin-left: 160px;
  vertical-align: middle;
} 
#companie h2 {
  font-size: 45px;
  margin: 30px 10px 10px 10px;
}
#companie h3 {
  font-size: 30px;
  padding-bottom: 25px;
  padding-top: 10px;
}
.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.coverImg {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}
.bigProfileImg {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: -105px;
  background-color: white;
}
.titleAndSome {
  margin: 30px 10px;
}
.adminButton {
  display: inline-block;
  background: rgb(195, 74, 74);
  padding: 10px;
  float: right;
  border-radius: 2px;
  width: 100px;
  margin-left: 10px;
  /* vertical-align: middle; */
  text-align: center;
  color: white;
  text-decoration: none;
}
.companieDetailed {
  width: 50%;
  height: 500px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  overflow: hidden;
}
.descInfo {
  padding-bottom: 30px;
}
.contactInfo a {
  display: block;
  margin-bottom: 25px;
  text-decoration: none;
  color: #484848;
}
.contactInfo img {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.contactInfo p{
  display: inline-block;
}
.mapWrapper{
  width: 50%;
  height: 500px;
  display: inline-block;
  padding: 10px;
}
#maps {
  width: 100%;
  height: 100%;
}
.pointer {
  position: relative;
}
.pointer img {
  position: absolute;
  top: -33.19px;
  left: -14px 
}
.mapAddress {
  display: inline-block;
  padding-bottom: 10px;
  text-decoration: none; 
  color: #484848;
}
.onlyMap {
  height: calc(100% - 26px);
}.rooms{
  min-height: calc(100vh - 260px);
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
}
.addRoom {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  vertical-align: middle;
  text-align: center;
  background-color: whitesmoke;
}
.addRoom img {
  margin: 50% auto;
}
.room {
  width: 300px;
  display: inline-block;
  margin: 10px 20px;
  margin-left: 0;
  vertical-align:top;
  position: relative;
}
.room a {
  display: inline-block;
  text-decoration: none;
  color: #484848;
}
.roomLink {
  width: 100%;
  height: 100%;
}
.roomPoster{
  /*height: 375px;*/
  width: 100%;
  padding-top: 125%;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
          box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  background-position: center; 
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.features {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.5));
  text-align: right;
  width: 100%;
  height: 40%;
  color: white;
  position: absolute;
  bottom: 0;
  vertical-align: top;
}
.roomInfo {
  text-align: left;
  position: relative;
}
.roomNameLink {
  display: inline-block !important;
  width: auto !important; 
}
.basicInfo {
  margin-top: 5px;
  display: inline-block;
}
.bottomRight {
  /*position: absolute;*/
  display: inline-block;
  float: right;
  bottom: 0;
  right: 0;
}
.bottomRightButton {
  background-color: #c34a4a;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 2px;
  color: white !important;
}
.otherInfo {
  width: 100%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  margin-top: 118px;
  margin-right: 4px;
  position: absolute;
  bottom: 7px;
  right: 1px;
}
.otherInfo > div {
  display: inline-block;
  margin: 0 5px;
  margin-top: 5px;
  text-align: center;
}
.otherInfo img, .otherInfo p {
  display: inline-block;
}
.otherInfo img {
  vertical-align: middle;
  margin: 0 5px;
  margin-bottom: 3px;
}
.room h4 {
  margin-top: 5px;
  font-size: 19px;
}

.resize {
  display: inline-block;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .room{
    width: 44%;
  }
}
@media (max-width: 425px) {
  .room{
    width: 90%;
  }
}#roomForm {
  max-width: 500px;
  margin: 0 auto;
}
#roomForm input:not([type='submit']):not([type='file']) {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  color: #484848;
  width: 100%;
  border: 0;
  margin: 10px 0;
  border-bottom: 1px solid #484848;
}
#roomForm h1 {
  padding-top: 30px;
  font-size: 30px;
  padding-bottom: 10px;
}
#roomForm > form > div:not([id='uploadImg']){
  width: 45%;
  display: inline-block;
}
#roomForm textarea {
  width: 100%;
  margin: 10px;
  resize: vertical;
  min-height: 100px;
  color: #484848;
  width: 100%;
  border: 0;
  margin: 10px 0;
  border-bottom: 1px solid #484848;
}
.roomFormRight {
  margin-left: 10%;
}
.autocompleteInput {
  width: 100%;
}
.roomSubmit {
  width: calc(50% - 21px);
  margin: 30px 10px;
  display: inline-block;
  padding: 0;
  color: white;
  line-height: 30px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}
.buttons {
  text-align: center;
  width: 100% !important;
}#sideBar {
  display: inline-block;
  width: 300px;
}
#sideBar a {
  color: #484848;
  text-decoration: none; 
}
.sideBarFixed {
  position: fixed;
  right: calc(50% - 600px);
  top: 30px;
}
#poster{
  height: 375px;
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.companieInfo {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  vertical-align: middle;
}
.companieInfo p {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: bold;
  width: calc(100% - 70px);
}
.profileImg {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  display: inline-block;
}
.roomInfo hr{
  border: 0;
  background: grey;
}
.contactInfo a {
  display: block;
  margin-bottom: 25px;
}
.contactInfo img {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.contactInfo p{
  display: inline-block;
}

#book {
  width: 100%;
  padding: 10px;
  line-height: 30px;
  text-decoration: none;
  color: #484848;
  display: inline-block;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  border-radius: 5px;
  color: white !important;
}
@media (max-width: 1218px) {
  .sideBarFixed {
    right: 0;
  }
}
#registerForm {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 50px 20px;
}
#registerForm h1 {
  font-size: 30px;
  
}
#registerForm input[type='text'], #registerForm input[type='password'], #registerForm input[type='email']{
  padding: 10px 0;
  color: #484848;
  width: 100%;
  border: 0;
  margin: 10px 0;
  border-bottom: 1px solid #484848;
}
.registerButton {
  margin-top: 25px;
  width: calc(50% - 10px);
  background-color: #484848;
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 10px 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  line-height: 10px;
  cursor: pointer;
}
.validationError{
  border-bottom: 2px solid red !important;
}
#loginForm {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 50px 20px;
}
#loginForm h1 {
  font-size: 30px;
  
}
#loginForm input[type='text'], #loginForm input[type='password']{
  padding: 10px 0;
  color: #484848;
  width: 100%;
  border: 0;
  margin: 10px 0;
  border-bottom: 1px solid #484848;
}
.loginButton {
  margin-top: 25px;
  width: calc(50% - 10px);
  background-color: #484848;
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 10px 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  line-height: 10px;
  cursor: pointer;
}
.order{
  width: 100%;
  text-align: right;
}
.order select {
  color: #484848;
  padding: 10px;
  margin: 10px;
  width: 150px;
  font-size: 15px;
  border: none;
}
.older option {
  padding: 5px 0;
}
/*# sourceMappingURL=main.css.map*/