html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input, button, a {
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Quicksand', sans-serif;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
footer {
  background-color: whitesmoke;
  width: 100%;
  height: 200px;
}header{
  height: 60px;
  line-height: 60px;
  color: #555;
  background-color: whitesmoke;
  border-bottom: #ccc 1px solid;
  /*overflow: hidden;*/
  position:relative
}

.headerLogo{
  display: inline-block;
}

header h1 {
  font-size: 20px;
  margin: 0 5px;
  display: inline-block;
}

.headerSelected {
  font-weight: bold;
}

.headerLogin {
  position: absolute;
  right: 5px;
  top: 0;
}

.headerLogin a {
  border-radius: 50px;
  border: 0;
  padding: 6px 20px;
  cursor: pointer;
  margin: 0 5px;
  background-color: white;
}

/* header form */

#headerForm {
  display: inline-block;
}

/* user control */

#userControl {
  margin-right: 5px;
  position: absolute;
  right: 5px;
  top: 0;
  display: inline-block;
  height: 50px;
}
#userControl img {
  cursor: pointer;
  width: 30px;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px #AAA solid; 
}
header input {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  margin: 0 10px;
}

header a {
  color: black;
  text-decoration: none;
}.autocompleteRoot {
  display: inline-block;
}

.autocompleteInput {

}

.autocompleteContainer {
  position: absolute;
  z-index: 1;  
}#createCompany input{
  padding: 10px;
  color: black;
  margin: 10px;

}.rooms{
  min-height: calc(100vh - 260px);
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
}.room {
  width: 300px;
  display: inline-block;
  margin: 10px 20px;
  margin-left: 0;
  vertical-align:top;
  position: relative;
}

.room a {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  height: 100%;
}
.roomPoster{
  /*height: 375px;*/
  width: 100%;
  padding-top: 125%;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
          box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.features {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.5));
  text-align: right;
  width: 100%;
  height: 40%;
  color: white;
  position: absolute;
  bottom: 0;
  vertical-align: top;
}
.roomInfo {
  text-align: left;
}
.basicInfo {
  margin-top: 5px;
  display: inline-block;
}
.otherInfo {
  width: 100%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  margin-top: 118px;
  margin-right: 4px;
  position: absolute;
  bottom: 7px;
  right: 1px;
}
.otherInfo > div {
  display: inline-block;
  margin: 0 5px;
  margin-top: 5px;
  text-align: center;
}
.otherInfo img, .otherInfo p {
  display: inline-block;
}
.otherInfo img {
  vertical-align: middle;
  margin: 0 5px;
  margin-bottom: 3px;
}
.room h4 {
  margin-top: 5px;
  font-size: 19px;
}

.resize {
  display: inline-block;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .room{
    width: 44%;
  }
}
@media (max-width: 425px) {
  .room{
    width: 90%;
  }
}#registerForm input{
  padding: 10px;
  color: black;
  margin: 10px;
}

.validationError{
  border: 1px solid red;
}
#loginForm input{
  padding: 10px;
  color: black;
  margin: 10px;

}#roomDetail {
  min-height: calc(100vh - 260px);
  position: relative;
}
#roomDetail > div {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}
#roomDetail h4 {
  font-size: 27px;
}

/* SELECTOR */
#sectionSelector {
  width: 100%;
  height: 30px;
  background: white;
  z-index: 10
}
.sectionSelectorFixed {
  position: fixed;
  left: calc(50% - 600px);
  top: 0;
}
#sectionSelector ul {
  width: calc(100% - 300px);
}
#sectionSelector li {
  display: inline-block;
  line-height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

/* FIXED BAR */

#fixedBar {
  background: orange;
  display: inline-block;
  width: 300px;
}
.fixedBarFixed {
  position: fixed;
  right: calc(50% - 600px);
  top: 30px;
}
#poster{
  height: 375px;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.book {
  width: calc(100% - 20px);
  margin: 0 10px;
  padding: 10px;
  height: 50px;
  line-height: 30px;
  background: red;
  text-decoration: none;
  color: black;
  display: inline-block;
  text-align: center;

}

/* MAIN SECTION */

#mainSection {
  width: calc(100% - 300px);
  height: 2000px;
  background: yellow;
  display: inline-block;
  vertical-align: top;
}
.mainSectionFixed {
  padding-top: 30px;
}

/* SUMMARY */

#summary {
  position: relative;
  height: 375px;
  width: 100%;
  color: white;
  padding: 110px 10px 10px 20px;
}
#summary h1 {
  padding-bottom: 2px;
  font-size: 35px;
}

.dv-star-rating {
  padding-bottom: 10px;
  z-index: 0;
  font-size: 20px;
}

.address{
  padding-bottom: 10px;
}
.address p {
  cursor: pointer;
  display: inline-block;
}

.summaryInfo {
  margin-bottom: 15px;
}
.summaryInfo > div {
  display: inline-block;
  margin-right: 20px;
  margin-top: 5px;
  text-align: center;
}
.summaryInfo img, .summaryInfo p {
  display: inline-block;
}
.summaryInfo img {
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 3px;
}
#price {
  font-size: 30px;
}


/* DESCRIPTION */
#description {
  width: 100%;
  padding: 20px;
  padding-top: 40px;
}
#description p {
  line-height: 22px;
  padding-top: 10px;
}
#ratings {
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  height: 200px;
/*  background: skyblue;
*/}
#location {
  width: 100%;
  height: 200px;
  padding: 20px;
  padding-top: 40px;
}

/* MEDIA QUERIES */

@media (max-width: 1218px) {
  .fixedBarFixed {
    right: 0;
  }
  .sectionSelectorFixed {
    left: 0;
  }
}
/*# sourceMappingURL=main.css.map*/