#createCompany input{
  padding: 10px;
  color: #484848;
  margin: 10px;

}
#createCompany h1 {
  padding-top: 30px;
  font-size: 30px;
}
#createCompany {
  max-width: 500px;
  margin: 0 auto;
}
#createCompany input:not([type='submit']):not([type='file']) {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  color: #484848;
  width: 100%;
  border: 0;
  margin: 10px 0;
  border-bottom: 1px solid #484848;
}

#createCompany > form > div:not([id='uploadImg']){
  width: 45%;
  display: inline-block;
}
#createCompany textarea {
  width: 100%;
  margin: 10px;
  resize: vertical;
  min-height: 100px;
  color: #484848;
  width: 100%;
  border: 0;
  margin: 10px 0;
  border-bottom: 1px solid #484848;
}
.createCompanyRight {
  margin-left: 10%;
}
.autocompleteInput {
  width: 100%;
}
.companieSubmit {
  width: 100%;
  margin: 30px 0 !important;
  display: inline-block;
  padding: 0;
  color: white;
  line-height: 30px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}