#sideBar {
  display: inline-block;
  width: 300px;
}
#sideBar a {
  color: #484848;
  text-decoration: none; 
}
.sideBarFixed {
  position: fixed;
  right: calc(50% - 600px);
  top: 30px;
}
#poster{
  height: 375px;
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.companieInfo {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  vertical-align: middle;
}
.companieInfo p {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: bold;
  width: calc(100% - 70px);
}
.profileImg {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  display: inline-block;
}
.roomInfo hr{
  border: 0;
  background: grey;
}
.contactInfo a {
  display: block;
  margin-bottom: 25px;
}
.contactInfo img {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.contactInfo p{
  display: inline-block;
}

#book {
  width: 100%;
  padding: 10px;
  line-height: 30px;
  text-decoration: none;
  color: #484848;
  display: inline-block;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  border-radius: 5px;
  color: white !important;
}
@media (max-width: 1218px) {
  .sideBarFixed {
    right: 0;
  }
}
