#uploadImg {
  /*width: 300px;*/
  margin: 0 auto;
  text-align: center;
  display: block !important;
}
#uploadImg input {
  padding: 10px;
}
#image {
  display: inline-block;
  padding: 20px;
  border: none;
}
.posterPreview {
  width: 300px !important;
  height: 375px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

.profilePreview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
.coverPreview {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: inline-block;
}